

.film {
    display: inline-block;
    margin: 1vmin 0;
    vertical-align: top;
    color: white;
}

.film-title {
    font-weight: bold;
    font-size: 1.5em;
}

.film-specie, .film-character, .film-starship {
    padding: 0 1vmin;
}

