

.specie {
    display: inline-block;
    margin: 1vmin 0;
    vertical-align: top;
    color: white;
}

.specie-name {
    font-weight: bold;
    font-size: 1.5em;
}

.specie-film, .specie-pilot {
    padding: 0 1vmin;
}

