

.people {
    display: inline-block;
    margin: 1vmin 0;
    vertical-align: top;
    color: white;
}

.people-name {
    font-weight: bold;
    font-size: 1.5em;
}

.people-film, .people-pilot, .people-vehicle, .people-starship {
    padding: 0 1vmin;
}

