

.vehicle {
    display: inline-block;
    margin: 1vmin 0;
    vertical-align: top;
    color: white;
}

.vehicle-name {
    font-weight: bold;
    font-size: 1.5em;
}

.vehicle-film, .vehicle-pilot {
    padding: 0 1vmin;
}

