

.planet {
    display: inline-block;
    margin: 1vmin 0;
    vertical-align: top;
    color: white;
}

.planet-name {
    font-weight: bold;
    font-size: 1.5em;
}

.planet-film, .planet-resident {
    padding: 0 1vmin;
}

